---
layout: default.ejs
---
<section class="top">
    <h1>{{name}}</h1>
</section>
<section class="list-group">
    <img src="{{image}}" alt="{{name}}" />
    <div>
        <p>
            {{ content | safe }}
        </p>

        <p>
            <button class="buy-button">
                Acheter pour {{price}}$
            </button>
        </p>
    </div>
</section>