---
layout: default.ejs
---
<section class="top">
    <h1>{{name}}</h1>
</section>
<section class="list-group">
    <img src="{{image}}" alt="{{name}}" />
    <div>
        <p>
            {{ content | safe }}
        </p>

        <p>
            <button class="buy-button snipcart-add-item"
                data-item-id="11ty-{{page.fileSlug}}"
                data-item-name="{{name}}"
                data-item-price="{{price}}"
                data-item-image="{{image}}"
                data-item-url="{{page.url}}">
                Acheter pour {{price}}$
            </button>
        </p>
    </div>
</section>